In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

# Load your data
data = pd.read_csv('wine_production.csv')
data.fillna('0', inplace=True)
data.set_index('Year', inplace=True)
data = data.loc[1900:]
for column in data.columns:
    data[column] = pd.to_numeric(data[column].str.replace(',', ''), errors='coerce').fillna(0).astype(int)
data = data.T
data = data.sort_index()

country_info = pd.read_csv('country_info.csv')
country_info.set_index('Country Name', inplace=True)

combined_data = country_info.merge(data, left_index=True, right_index=True)

In [3]:
missing_indices = data.index.difference(country_info.index)
missing_indices

Index(['Hong Kong', 'Other', 'Other AME', 'Other Asia Pacific', 'Other ECA',
       'Other LAC', 'Other WEM', 'Taiwan', 'World'],
      dtype='object')

In [4]:
combined_data.head()

,Region,Image URL,1900,1901,1902,1903,1904,1905,1906,1907,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Algeria,Africa,https://public.flourish.studio/country-flags/s...,544418,556303,366611,597368,791558,774035,690572,860123,...,52000,69816,58840,47500,48000,49200,49800,52000,0,0
Argentina,Americas,https://public.flourish.studio/country-flags/s...,115100,184400,136000,189200,174100,183800,242600,262100,...,1504600,1467764,1213547,1625077,1547300,1166025,1498400,1517900,1335800,940000
Australia,Oceania,https://public.flourish.studio/country-flags/s...,14919,25493,26440,23576,28459,26603,25412,27008,...,961972,1244778,1179191,1151656,1125986,1236145,1245602,1186343,1191193,1310000
Austria,Europe,https://public.flourish.studio/country-flags/s...,164281,172533,103232,95161,120804,198263,106573,41240,...,262803,299372,235188,173745,281476,215475,239195,199869,230000,200000
Belgium,Europe,https://public.flourish.studio/country-flags/s...,0,17182,14302,11422,8542,5663,2783,4124,...,14197,15967,16479,14025,17899,11368,12989,15394,16000,16000

In [5]:
combined_data.to_csv('wine_production_cleaned.csv')

In [12]:
continent_data = combined_data.drop(columns='Image URL')
continent_data = continent_data.groupby('Region').sum()
continent_data.to_csv('continent_wine_production.csv')

In [35]:
rest_producers

,Region,Image URL,1900,1901,1902,1903,1904,1905,1906,1907,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Australia,Oceania,https://public.flourish.studio/country-flags/s...,14919,25493,26440,23576,28459,26603,25412,27008,...,961972,1244778,1179191,1151656,1125986,1236145,1245602,1186343,1191193,1310000
Austria,Europe,https://public.flourish.studio/country-flags/s...,164281,172533,103232,95161,120804,198263,106573,41240,...,262803,299372,235188,173745,281476,215475,239195,199869,230000,200000
Belgium,Europe,https://public.flourish.studio/country-flags/s...,0,17182,14302,11422,8542,5663,2783,4124,...,14197,15967,16479,14025,17899,11368,12989,15394,16000,16000
Brazil,Americas,https://public.flourish.studio/country-flags/s...,37881,38387,38893,39399,39905,40411,40917,41423,...,350200,368300,340000,338000,346000,296700,271000,273200,350000,160000
Bulgaria,Europe,https://public.flourish.studio/country-flags/s...,192900,164533,136167,97041,145721,131597,70127,77993,...,136953,230046,230000,150083,122687,133700,170000,70000,130000,120000
Canada,Americas,https://public.flourish.studio/country-flags/s...,3462,3548,3635,3721,3808,3894,3981,4067,...,50500,52000,53000,55000,56500,57000,47376,54663,55000,55000
Chile,Americas,https://public.flourish.studio/country-flags/s...,71430,80407,81046,93480,114843,117056,80790,91448,...,791794,824642,981772,840891,946640,1187672,1210742,1214000,1233562,1010000
China,Asia,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,548290,706325,888644,951774,1036603,1255052,1089076,1079206,1002768,993563
Croatia,Europe,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,65000,50869,55614,46346,48875,44191,46000,45272,45000,45000
Denmark,Europe,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Finland,Europe,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Georgia,Asia,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,107000,90200,104300,103400,110800,112700,98800,108600,130000,110000
Greece,Europe,https://public.flourish.studio/country-flags/s...,77000,99000,180000,117000,162000,99000,130961,162922,...,350028,400409,425000,336500,295000,275000,311530,334300,250000,260000
Hungary,Europe,https://public.flourish.studio/country-flags/s...,157226,230291,243508,214790,282768,242207,225770,230874,...,322000,325000,330000,181279,275000,181800,261800,258520,287300,190000
India,Asia,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ireland,Europe,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Japan,Asia,https://public.flourish.studio/country-flags/s...,700,700,700,701,831,849,1376,2236,...,68364,68973,68475,71720,78090,81873,14306,15073,16919,17000
Korea,Asia,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Malaysia,Asia,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mexico,Americas,https://public.flourish.studio/country-flags/s...,1165,1186,811,1900,3006,273,596,705,...,62994,55668,44553,34356,38212,38900,17951,39360,0,0
Moldova,Europe,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,128490,159700,125135,127040,124627,148304,120104,149850,170000,170000
Morocco,Africa,https://public.flourish.studio/country-flags/s...,5767,5893,3884,6328,8386,8200,7316,9112,...,37000,35000,29498,33300,34000,34500,34500,37000,0,0
Netherlands,Europe,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
New Zealand,Oceania,https://public.flourish.studio/country-flags/s...,140,144,147,151,154,158,161,165,...,147600,205200,205200,190000,235000,194000,248400,320400,234700,313900
Philippines,Asia,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Singapore,Asia,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South Africa,Africa,https://public.flourish.studio/country-flags/s...,21476,21936,21936,21941,26015,20835,15656,27121,...,1043500,1089000,1033400,984800,1012800,1095100,1156900,1146000,1123100,1053100
Sweden,Europe,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Switzerland,Europe,https://public.flourish.studio/country-flags/s...,210300,120000,119100,98900,126700,84000,130000,68200,...,104094,107447,111354,103094,101800,100387,83863,93365,90000,90000
Thailand,Asia,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tunisia,Africa,https://public.flourish.studio/country-flags/s...,20000,29800,10000,30000,30000,30500,41000,35732,...,21575,29070,24500,22150,23200,24000,28500,21500,0,0
Turkey,Asia,https://public.flourish.studio/country-flags/s...,22000,22000,22000,22000,22000,17000,17000,17000,...,21302,24531,23250,27950,28490,31230,30000,44707,0,0
United Kingdom,Europe,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,998,1005,2385,3038,2265,773,3338,4725,3800,4000
Ukraine,Europe,https://public.flourish.studio/country-flags/s...,0,0,0,0,0,0,0,0,...,240000,250000,273000,300200,175400,179748,168247,86904,75000,75000
Uruguay,Americas,https://public.flourish.studio/country-flags/s...,5200,7000,7000,10500,11600,9500,11500,18600,...,94041,109001,61874,65000,66500,67000,67000,72500,0,0

In [45]:
production = combined_data.drop(columns=['Region', 'Image URL']).sum(axis=1)

# Get the top 10 producers
top_producers = production.sort_values(ascending=False).head(7)
data_top_producers = combined_data.loc[top_producers.index]

# Drop the columns again for the top producers data
data_top_producers = data_top_producers.drop(columns=['Region', 'Image URL'])

# Calculate the production for the rest of the countries
rest_producers = combined_data.drop(index=top_producers.index)
rest_production = rest_producers.drop(columns=['Region', 'Image URL']).sum(axis=0)

# Create a row for the rest of the countries
other_countries_row = pd.DataFrame([rest_production], columns=data_top_producers.columns, index=["Other countries"])

# Append the 'Other countries' row to the data of top producers
top_countries = pd.concat([data_top_producers, other_countries_row])
top_countries.to_csv('top_producers.csv')

In [46]:
top_countries

,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
France,6892336,5920023,4088950,3649636,6763790,5821036,5311889,6737328,6238230,5529076,...,4711600,4198632,4552077,4531671,5106761,4209724,4293466,4650000,4700000,4350000
Italy,3164315,3167581,3328286,3476943,3432111,3393131,3417441,3573708,3866658,3985403,...,4251400,4624500,4542200,4673700,4270500,4107370,4796590,4208750,4950000,5090000
Spain,2282256,2239864,1218373,1485030,2185558,1770378,1357475,1838434,1855672,1471621,...,3520871,3736689,3548929,3535347,3370912,3112256,4607855,3950000,3770000,3930000
Argentina,115100,184400,136000,189200,174100,183800,242600,262100,283800,233800,...,1504600,1467764,1213547,1625077,1547300,1166025,1498400,1517900,1335800,940000
United States,91790,93395,91408,169190,118565,126608,106824,150075,180355,158497,...,2414000,2346000,2677000,2650000,2692400,2981100,3114600,3021400,3080000,3150000
Russia,236920,231044,231044,231044,231044,231044,231044,231044,231044,231044,...,513130,503483,501000,760530,696260,622000,529000,490000,560000,560000
Portugal,521306,575965,490385,350406,376131,401855,503245,604635,728764,660503,...,581562,542755,571071,690919,542093,611462,603970,603327,700000,600000
Other countries,2055239,1884397,1707774,2017786,2422873,2362831,1979836,2095799,2688148,2384690,...,7554709,8366601,8424552,7372171,7950867,8284079,7973961,8218234,7871623,7422563

In [51]:
non_euopean_countries = combined_data[combined_data['Region'] != 'Europe']
production = non_euopean_countries.drop(columns=['Region', 'Image URL']).sum(axis=1)

# Get the top 10 producers
top_producers = production.sort_values(ascending=False).head(7)
data_top_producers = non_euopean_countries.loc[top_producers.index]

# Drop the columns again for the top producers data
data_top_producers = data_top_producers.drop(columns=['Region', 'Image URL'])

# Calculate the production for the rest of the countries
rest_producers = non_euopean_countries.drop(index=top_producers.index)
rest_production = rest_producers.drop(columns=['Region', 'Image URL']).sum(axis=0)

# Create a row for the rest of the countries
other_countries_row = pd.DataFrame([rest_production], columns=data_top_producers.columns, index=["Other countries"])

# Append the 'Other countries' row to the data of top producers
top_countries = pd.concat([data_top_producers, other_countries_row])
top_countries.to_csv('top_producers_new_world.csv')

In [52]:
top_countries

,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Argentina,115100,184400,136000,189200,174100,183800,242600,262100,283800,233800,...,1504600,1467764,1213547,1625077,1547300,1166025,1498400,1517900,1335800,940000
United States,91790,93395,91408,169190,118565,126608,106824,150075,180355,158497,...,2414000,2346000,2677000,2650000,2692400,2981100,3114600,3021400,3080000,3150000
Algeria,544418,556303,366611,597368,791558,774035,690572,860123,700373,822872,...,52000,69816,58840,47500,48000,49200,49800,52000,0,0
South Africa,21476,21936,21936,21941,26015,20835,15656,27121,27587,21710,...,1043500,1089000,1033400,984800,1012800,1095100,1156900,1146000,1123100,1053100
Chile,71430,80407,81046,93480,114843,117056,80790,91448,63566,94931,...,791794,824642,981772,840891,946640,1187672,1210742,1214000,1233562,1010000
Australia,14919,25493,26440,23576,28459,26603,25412,27008,20230,25075,...,961972,1244778,1179191,1151656,1125986,1236145,1245602,1186343,1191193,1310000
Brazil,37881,38387,38893,39399,39905,40411,40917,41423,41929,42435,...,350200,368300,340000,338000,346000,296700,271000,273200,350000,160000
Other countries,58434,70271,48177,75301,79785,70374,82930,87617,81257,116253,...,1158666,1375968,1503294,1554650,1707395,1896255,1675909,1793009,1439387,1489463